<!DOCTYPE html>
<html>
	<head>
		<title> NatSafe </title>
	</head>
	
	<link rel="stylesheet" type="text/css" href="../CSS/MainScreen.css">
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li id="NatSafe"> 
						<span><font color=#fff> Nat </font></span> <span><font color=#FFA347>Safe</font></span>
					</li>
					<li id="login">
						<a href="LoginForm.php?wrong=no"> Login </a>
					</li>
				</ul>
			</nav>
		</div>
		<br>
		<div class="body">
			<span class="disasterInfo">
				<ul>
					<p id="newsTitle"> BANJIR DI MANADO </p> 
					<p id="newsDate"> 16 Januari 2014 </p>
					<p id="news"> Badan Nasional Penanggulangan Bencana, BNPB, menyatakan 13 orang tewas dan dua orang masih dinyatakan hilang akibat banjir dan tanah longsor di Manado dan sekitarnya.
Menurut PMI Sulawesi Utara, evakuasi terhadap warga yang menjadi korban banjir dilanjutkan pada Kamis ini, setelah upaya ini sempat terganggu pada Rabu (15/01) malam akibat ketinggian dan arus air bah.
"Banyak sekali pengungsi di beberapa titik, yang menumpang sementara di masjid, hotel, gereja atau sekolah. Hari ini kita mulai berencana menangani pengungsi," kata Komandan tim satuan penanganan bencana, Sulut, Irwan Lalegit, Kamis (16/01) siang, kepada wartawan BBC Indonesia, Heyder Affan, melalui telepon.</p>
					<button> View All </button>
				</ul>
			</span>
			<span class="help">
				<p> How to Help? </p>
					<ul>
						<li> 
							<a href = ""> Volunteer Registration </a>
						</li>
						<li>
							<a href = ""> Donation Information </a>
						</li> 
						<div id="helpspace"> </div>
						<li>
							NatSafe Hotline : 
						</li>
						<li>
							021-700xxxxxx
						</li>
					</ul>
			</span>
		</div>
		<br>
		<div class="footer">
			<nav>
				<ul>
					<li>
						Disaster Management System
					</li>
					<li id="about">
						About
					</li>
				</ul>
			</nav>
		</div>
	</body>
	
</html>