<!DOCTYPE html>
<html>
	<head>
		<title> NatSafe </title>
	</head>
	
	<link rel="stylesheet" type="text/css" href="../CSS/MainScreen.css">
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li id="NatSafe"> 
						<span><font color=#fff> Nat </font></span> <span><font color=#FFA347>Safe</font></span>
					</li>
					<li id="login">
						<a href="../VIEW/RestrictedLogin.html"> Login </a>
					</li>
				</ul>
			</nav>
		</div>
		<br>
		<div class="body">
			<div class="NatSafeDesc">
				<div>Nat<span>Safe</span><br><div>We Care We Help</div></div>
			</div>
			<div class="login">
				<img src="../IMG/warning.png"> </img>
				<p style='color:red'> Your Access Restricted! </p>
			</div>
		</div>
		<br>
		<div class="footer">
			<nav>
				<ul>
					<li>
						Disaster Management System
					</li>
					<li id="about">
						About
					</li>
				</ul>
			</nav>
		</div>
	</body>
	
</html>