<!DOCTYPE html>
<html>
	<head>
		<title> NatSafe </title>
	</head>
	
	<link rel="stylesheet" type="text/css" href="../CSS/StakeholderScreen.css">
	<body class="mbody">
		<div class="menu">
			<nav>
				<ul>
					<li id="NatSafe"> 
						<span><font color=#fff> Nat </font></span> <span><font color=#FFA347>Safe</font></span>
					</li>
					<li>
						<a href=""> Home </a>
					</li>
					<li>
						<a href=""> Resources </a>
					</li>
					<li>
						<a href=""> Volunteer </a>
					</li>
					<li>
						<img src="../IMG/report.png" style="height:18px; padding-left:650px"> </img>
					</li>
					<li>
						<img src="../IMG/message.png" style="height:18px"> </img>
					</li>
					<li>
						<img src="../IMG/notification.png" style="height:18px"> </img>
					</li>
					<li>
						<a href=""> Account </a>
					</li>
					<li id="logout">
						<a href="Logout.php"> Logout </a>
					</li>
				</ul>
			</nav>
		</div>
		<br>
		<div class="body">
			
		</div>
		<br>
		<div class="footer">
			<nav>
				<ul>
					<li>
						Disaster Management System
					</li>
					<li id="about">
						About
					</li>
				</ul>
			</nav>
		</div>
	</body>
	
</html>